body{
   background: linear-gradient(to bottom, #ffffff, #1e90ff);
    min-height: 60vh;
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
    font-size: 25px;
    line-height: 18px;
}

.mainInformation{
   text-align: center;
   margin-top: 250px;
}
.myNotesButton{
   font-size: 20px;
   margin-top: 20px;
   width: 300px;
   height: 60px;
}